<div class="w3-row">
  <div class="w3-col w3-container" style="width: 25%;"></div>
    <div class="w3-col w3-container w3-card-4 w3-light-grey" style="width: 50%;">
        <div id = "success" class="w3-pale-green" {{# if noMessage}} hidden{{/if}}>
          {{successMsg}}
        </div>
       
    </div>
    <div class="w3-col w3-container" style="width: 25%;"></div>
</div>
<div class="wrapper">
{{# each products}}
    <div class="w3-container w3-row">
  {{# each this}}
        <div class="w3-card-4 w3-light-grey w3-col s12 m1 l2" style="width:30%;max-height:30%" >

    <div class="w3-container w3-center">
      <h3>{{this.title}}</h3>
      <img src="{{this.imagePath}}" alt="Avatar" style="height: 30%;">
      
      <p>{{this.description}} </p>

      <div class="w3-section">
          <div class="w3-left">₹{{this.price}}</div>
        <button class="w3-button w3-round-large w3-green w3-right "><a href="/add-to-cart/{{this._id}}" style="text-decoration:none;">Add to cart</a></button>
        
      </div>
    </div>

  </div>
  {{/each}}

  
  
  
</div>
{{/each}}
</div>
